#InputView{
    margin: 0;
	width: 100%;
	height: 100vh;
    font-family: "Vollkorn SC", serif;
	color: #fff;
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradientBG 15s ease infinite;
}

@keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
#InputView .s-first{
	font-weight: 800;
}

#InputView .s-key{
	margin-left: 10px;
	cursor: pointer;
}

#InputView .container {
	width: 100%;
	position: absolute;
	top: 30%;
	text-align: center;
}

#InputView h1 {
	text-shadow: 2px 2px #434a54;
    
}

#InputView h3 {
	color: #eee;
	font-family: "Vollkorn SC", serif;
	font-size: 20px;
}

#InputView h5 {
	color:#eee;
	font-weight:300;
}

#InputView a,
#InputView a:hover {
	text-decoration: none;
	color: #ddd;
}

/*  */
@import url(https://fonts.googleapis.com/css?family=Raleway:800,400);



#InputView p {
	color: #00BCD4;
	font-family: Raleway, Helvetica, sans-serif;
	font-size: 1.2rem;
	font-weight: 400;
}

#InputView .button {
    margin:  0 auto;
	position: relative;
	height: 40px;
	width: 220px;
	background: #00BCD4;
	border-radius: 8px;
	text-align: center;
	/* margin: 200px auto 0 auto; */
	cursor: pointer;
	overflow: hidden;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
	/* box-shadow: 1px 1px 1px gray; */
}

#InputView .submit,
#InputView .arrow {
	display: inline-block;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

#InputView .submit {
	text-transform: uppercase;
	margin: 10px 0 0 26px;
}

#InputView .submit span{
	font-size: 16px;
}

#InputView .arrow {
	position: relative;
    top: 3px;
    left: 30px;
    opacity: 0;
    /* margin: 0 auto; */
}

#InputView .line {
	height: 3px;
	width: 20px;
	border-radius: 6px;
	background: #fff;
}

#InputView .top {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform: rotate(45deg);
}

#InputView .bottom {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	transform: rotate(-45deg);
	margin-top: 10px;
}

#InputView .instructions {
	text-align: center;
	margin: 20px auto;
}

#InputView .button:active {
	-webkit-transform: scale(1.3);
	-moz-transform: scale(1.3);
	transform: scale(1.3);
}

#InputView .button.hover .submit {
	-webkit-transform: translateX(-90px);
	-moz-transform: translateX(-90px);
	transform: translateX(-90px);
	opacity: 0;	
}

#InputView .button.hover .arrow {
	-webkit-transform: translateX(-70px);
	-moz-transform: translateX(-70px);
	transform: translateX(-70px);
	opacity: 1;
}

#InputView .button.active .arrow {
	opacity: 1;
	-webkit-transform: rotate(90deg) translateY(70px);
	-moz-transform: rotate(90deg) translateY(70px);
	transform: rotate(90deg) translateY(70px);
}

#InputView .button.active {
	background: #4CAF50;
}

#InputView .button.active .submit {
	opacity: 0;
}

#InputView .button.active .top {
	width: 34px;
}

#InputView .button.active .bottom {
	margin: 14px 0 0 12px;
}

/*  */
@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700);
#InputView .wrapper input {
	box-sizing: border-box;
	font-size: 22px;
	vertical-align: top;
}

#InputView .wrapper {
	text-align: center;
	position: relative;
	height: 40px;
	font-size: 0;
	/* top: 50%; */
	margin-top: 25px;
}

#InputView .search {
	padding: 0 30px;
	font-size: 18px;
	width: 300px;
	max-width: 400px;
	height: 40px;
	border: 1px solid darken(white, 30%);
	border-radius: 20px 20px 20px 20px;
}
