body {
    overflow-x: hidden;
    overflow-y: hidden;
}

#Wall .hidden {
    visibility: hidden;
}

#Wall {
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans TC', sans-serif;
}

#Wall h3 {
    text-align: center;
    margin: 0;
    font-size: 40px;
}

#Wall .high-light {
    position: absolute;
    background-color: rgba(100, 100, 100, 0.7);
    width: 100%;
    height: 160px;
    z-index: 1;
    font-size: 50px;
    line-height: 50px;
    top: calc(50% - 80px);
    animation-name: high-light-block;
    animation-duration: 6.5s;
    animation-timing-function: cubic-bezier(0, .79, .37, .26);
    visibility: hidden;
}

@keyframes high-light-block {
    0% {
        height: 0px;
        top: calc(50% - 80px);
        visibility: visible;
    }
    40% {
        height: 160px;
        top: calc(50% - 80px);
    }
    97% {
        height: 160px;
        top: calc(50% - 80px);
    }
    100% {
        height: 0px;
        top: calc(50% + 120px);
    }
}

#Wall .high-light-text {
    position: absolute;
    background-color: rgba(100, 100, 100, 0);
    width: 100%;
    z-index: 1;
    font-size: 50px;
    line-height: 50px;
    animation-name: runnung-text;
    animation-duration: 6s;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
    top: calc(50% - 25px);
    visibility: hidden;
}

@keyframes runnung-text {
    0% {
        visibility: visible;
        left: -50%;
    }
    100% {
        left: calc(100% - 50%);
    }
}