body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0;
}

.box {
  width: 220px;
  height: 40px;
  background: #ff1c68;
  transform-origin: 50% 50%;
  border: 0.5px #ccc solid;
  box-shadow: 2px 2px #ccc;
}
