#InputView{
    margin: 0;
	width: 100%;
	height: 100vh;
    font-family: "Vollkorn SC", serif;
	color: #fff;
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradientBG 15s ease infinite;
}


@keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.container {
	width: 100%;
	position: absolute;
	top: 35%;
	text-align: center;
}

/* h1 {
    font-weight: 300;
    
} */

h3 {
	color: #eee;
	font-weight: 100;
}

h5 {
	color:#eee;
	font-weight:300;
}

a,
a:hover {
	text-decoration: none;
	color: #ddd;
}

/*  */
@import url(https://fonts.googleapis.com/css?family=Raleway:800,400);



p {
	color: #00BCD4;
	font-family: Raleway, Helvetica, sans-serif;
	font-size: 1.2rem;
	font-weight: 400;
}

.button {
    margin:  0 auto;
	position: relative;
	height: 60px;
	width: 200px;
	background: #00BCD4;
	border-radius: 8px;
	text-align: center;
	/* margin: 200px auto 0 auto; */
	cursor: pointer;
	overflow: hidden;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.submit,
.arrow {
	display: inline-block;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.submit {
	text-transform: uppercase;
	margin: 0px 0 0 26px;
}

.arrow {
	position: relative;
    top: 3px;
    left: 20px;
    opacity: 0;
    /* margin: 0 auto; */
}

.line {
	height: 3px;
	width: 20px;
	border-radius: 6px;
	background: #fff;
}

.top {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform: rotate(45deg);
}

.bottom {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	transform: rotate(-45deg);
	margin-top: 10px;
}

.instructions {
	text-align: center;
	margin: 20px auto;
}

.button:active {
	-webkit-transform: scale(1.3);
	-moz-transform: scale(1.3);
	transform: scale(1.3);
}

.button.hover .submit {
	-webkit-transform: translateX(-90px);
	-moz-transform: translateX(-90px);
	transform: translateX(-90px);
	opacity: 0;	
}

.button.hover .arrow {
	-webkit-transform: translateX(-70px);
	-moz-transform: translateX(-70px);
	transform: translateX(-70px);
	opacity: 1;
}

.button.active .arrow {
	opacity: 1;
	-webkit-transform: rotate(90deg) translateY(70px);
	-moz-transform: rotate(90deg) translateY(70px);
	transform: rotate(90deg) translateY(70px);
}

.button.active {
	background: #4CAF50;
}

.button.active .submit {
	opacity: 0;
}

.button.active .top {
	width: 34px;
}

.button.active .bottom {
	margin: 14px 0 0 12px;
}